Projet de Machine Learning : Analyse des données DVF

Mohammad Darmsy Ladha
Matthieu Evuort
Julie Chen


Introduction :

Le machine learning est une technique informatique qui permet à une machine d'apprendre à partir de données, sans qu'un programme spécifique lui soit directement programmé. Le principe est de fournir à l'algorithme un grand nombre d'exemples pour qu'il apprenne à identifier des modèles et à prendre des décisions à partir de ces modèles. Le machine learning est utilisé dans de nombreux domaines, tels que la reconnaissance de formes, la classification de données, la détection de fraudes, la recommandation de produits, la traduction de langues, la reconnaissance vocale ou encore la conduite autonome.

Ce projet consiste à expliquer le prix de la valeur foncière en France selon une multitude de facteurs. On peut citer le code postal, surface terrain, surface réelle batie...

 Pour cela, nous allons utiliser plusieurs méthodes afin de préparer nos données, de les analyser et de les modéliser grâce aux TP que nous avons pu effectuer en cours, mais ainsi qu'à la documentation d'internet.

Sommaire :

A) Préparation des données
B) Analyse exploratoire des données
C) Modélisation des données
D) Evaluation des modèles


A) Préparation des données

Afin de préparer nos données, nous allons supprimer les colonnes comprenant de nombreuses valeurs nulles. En effet, lorsqu'une colonne présente plus de 90% il est mieux de la supprimer, car compléter toutes les valeurs manquantes peut créer un biais dans l'analyse.

In [5]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
data = pd.read_csv("./data/valeursfoncieres-2022.txt", delimiter='|')
print(data)

/var/folders/29/jk9lm8hj2fxf5p1bbvw0cv5c0000gn/T/ipykernel_6952/1611357360.py:4: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/valeursfoncieres-2022.txt", delimiter='|')

         Identifiant de document  Reference document  1 Articles CGI  \
0                            NaN                 NaN             NaN
1                            NaN                 NaN             NaN
2                            NaN                 NaN             NaN
3                            NaN                 NaN             NaN
4                            NaN                 NaN             NaN
...                          ...                 ...             ...
3803880                      NaN                 NaN             NaN
3803881                      NaN                 NaN             NaN
3803882                      NaN                 NaN             NaN
3803883                      NaN                 NaN             NaN
3803884                      NaN                 NaN             NaN

         2 Articles CGI  3 Articles CGI  4 Articles CGI  5 Articles CGI  \
0                   NaN             NaN             NaN             NaN
1                   NaN             NaN             NaN             NaN
2                   NaN             NaN             NaN             NaN
3                   NaN             NaN             NaN             NaN
4                   NaN             NaN             NaN             NaN
...                 ...             ...             ...             ...
3803880             NaN             NaN             NaN             NaN
3803881             NaN             NaN             NaN             NaN
3803882             NaN             NaN             NaN             NaN
3803883             NaN             NaN             NaN             NaN
3803884             NaN             NaN             NaN             NaN

         No disposition Date mutation Nature mutation  ...  \
0                     1    03/01/2022           Vente  ...
1                     1    03/01/2022           Vente  ...
2                     1    03/01/2022           Vente  ...
3                     1    03/01/2022           Vente  ...
4                     1    04/01/2022           Vente  ...
...                 ...           ...             ...  ...
3803880               1    30/12/2022           Vente  ...
3803881               1    19/12/2022           Vente  ...
3803882               1    19/12/2022           Vente  ...
3803883               1    30/12/2022           Vente  ...
3803884               1    21/11/2022           Vente  ...

        Surface Carrez du 5eme lot  Nombre de lots Code type local  \
0                              NaN               1             2.0
1                              NaN               0             NaN
2                              NaN               0             NaN
3                              NaN               1             2.0
4                              NaN               0             NaN
...                            ...             ...             ...
3803880                        NaN               1             4.0
3803881                        NaN               2             3.0
3803882                        NaN               2             2.0
3803883                        NaN               1             3.0
3803884                        NaN               1             3.0

                                       Type local Identifiant local  \
0                                     Appartement               NaN
1                                             NaN               NaN
2                                             NaN               NaN
3                                     Appartement               NaN
4                                             NaN               NaN
...                                           ...               ...
3803880  Local industriel. commercial ou assimilé               NaN
3803881                                Dépendance               NaN
3803882                               Appartement               NaN
3803883                                Dépendance               NaN
3803884                                Dépendance               NaN

        Surface reelle bati  Nombre pieces principales Nature culture  \
0                      24.0                        1.0            NaN
1                       NaN                        NaN              S
2                       NaN                        NaN              S
3                     140.0                        3.0            NaN
4                       NaN                        NaN              T
...                     ...                        ...            ...
3803880               327.0                        0.0            NaN
3803881                 0.0                        0.0            NaN
3803882                40.0                        3.0            NaN
3803883                 0.0                        0.0            NaN
3803884                 0.0                        0.0            NaN

        Nature culture speciale  Surface terrain
0                           NaN              NaN
1                           NaN             84.0
2                           NaN             88.0
3                           NaN              NaN
4                           NaN            510.0
...                         ...              ...
3803880                     NaN              NaN
3803881                     NaN              NaN
3803882                     NaN              NaN
3803883                     NaN              NaN
3803884                     NaN              NaN

[3803885 rows x 43 columns]