Projet DATA : Analyse des données DVF

Mohammad Darmsy Ladha
Matthieu Evuort
Julie Chen


Introduction :

Le machine learning est une technique informatique qui permet à une machine d'apprendre à partir de données, sans qu'un programme spécifique lui soit directement programmé. Le principe est de fournir à l'algorithme un grand nombre d'exemples pour qu'il apprenne à identifier des modèles et à prendre des décisions à partir de ces modèles. Le machine learning est utilisé dans de nombreux domaines, tels que la reconnaissance de formes, la classification de données, la détection de fraudes, la recommandation de produits, la traduction de langues, la reconnaissance vocale ou encore la conduite autonome.

Ce projet consiste à expliquer le prix de la valeur foncière en France selon une multitude de facteurs. On peut citer le code postal, surface terrain, surface réelle batie...

 Pour cela, nous allons utiliser plusieurs méthodes afin de préparer nos données, de les analyser et de les modéliser grâce aux TP que nous avons pu effectuer en cours, mais ainsi qu'à la documentation d'internet.

Sommaire :

A) Préparation des données
B) Analyse exploratoire des données
C) Modélisation des données
D) Evaluation des modèles


A) Préparation des données

Afin de préparer nos données, nous allons supprimer les colonnes comprenant de nombreuses valeurs nulles. En effet, lorsqu'une colonne présente plus de 90% il est mieux de la supprimer, car compléter toutes les valeurs manquantes peut créer un biais dans l'analyse. Pour cela, nous avons créés un algorithme qui permet de nous indiquer le pourcentage de valeurs nulles dans chaque colonne.

In [5]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
data = pd.read_csv("./data/valeursfoncieres-2022.txt", delimiter='|')
print(data)

/var/folders/29/jk9lm8hj2fxf5p1bbvw0cv5c0000gn/T/ipykernel_6952/1611357360.py:4: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/valeursfoncieres-2022.txt", delimiter='|')

         Identifiant de document  Reference document  1 Articles CGI  \
0                            NaN                 NaN             NaN
1                            NaN                 NaN             NaN
2                            NaN                 NaN             NaN
3                            NaN                 NaN             NaN
4                            NaN                 NaN             NaN
...                          ...                 ...             ...
3803880                      NaN                 NaN             NaN
3803881                      NaN                 NaN             NaN
3803882                      NaN                 NaN             NaN
3803883                      NaN                 NaN             NaN
3803884                      NaN                 NaN             NaN

         2 Articles CGI  3 Articles CGI  4 Articles CGI  5 Articles CGI  \
0                   NaN             NaN             NaN             NaN
1                   NaN             NaN             NaN             NaN
2                   NaN             NaN             NaN             NaN
3                   NaN             NaN             NaN             NaN
4                   NaN             NaN             NaN             NaN
...                 ...             ...             ...             ...
3803880             NaN             NaN             NaN             NaN
3803881             NaN             NaN             NaN             NaN
3803882             NaN             NaN             NaN             NaN
3803883             NaN             NaN             NaN             NaN
3803884             NaN             NaN             NaN             NaN

         No disposition Date mutation Nature mutation  ...  \
0                     1    03/01/2022           Vente  ...
1                     1    03/01/2022           Vente  ...
2                     1    03/01/2022           Vente  ...
3                     1    03/01/2022           Vente  ...
4                     1    04/01/2022           Vente  ...
...                 ...           ...             ...  ...
3803880               1    30/12/2022           Vente  ...
3803881               1    19/12/2022           Vente  ...
3803882               1    19/12/2022           Vente  ...
3803883               1    30/12/2022           Vente  ...
3803884               1    21/11/2022           Vente  ...

        Surface Carrez du 5eme lot  Nombre de lots Code type local  \
0                              NaN               1             2.0
1                              NaN               0             NaN
2                              NaN               0             NaN
3                              NaN               1             2.0
4                              NaN               0             NaN
...                            ...             ...             ...
3803880                        NaN               1             4.0
3803881                        NaN               2             3.0
3803882                        NaN               2             2.0
3803883                        NaN               1             3.0
3803884                        NaN               1             3.0

                                       Type local Identifiant local  \
0                                     Appartement               NaN
1                                             NaN               NaN
2                                             NaN               NaN
3                                     Appartement               NaN
4                                             NaN               NaN
...                                           ...               ...
3803880  Local industriel. commercial ou assimilé               NaN
3803881                                Dépendance               NaN
3803882                               Appartement               NaN
3803883                                Dépendance               NaN
3803884                                Dépendance               NaN

        Surface reelle bati  Nombre pieces principales Nature culture  \
0                      24.0                        1.0            NaN
1                       NaN                        NaN              S
2                       NaN                        NaN              S
3                     140.0                        3.0            NaN
4                       NaN                        NaN              T
...                     ...                        ...            ...
3803880               327.0                        0.0            NaN
3803881                 0.0                        0.0            NaN
3803882                40.0                        3.0            NaN
3803883                 0.0                        0.0            NaN
3803884                 0.0                        0.0            NaN

        Nature culture speciale  Surface terrain
0                           NaN              NaN
1                           NaN             84.0
2                           NaN             88.0
3                           NaN              NaN
4                           NaN            510.0
...                         ...              ...
3803880                     NaN              NaN
3803881                     NaN              NaN
3803882                     NaN              NaN
3803883                     NaN              NaN
3803884                     NaN              NaN

[3803885 rows x 43 columns]

In [9]:
def naPourcentage(data):
    L = []
    for col in data:
        null_count = data[col].isnull().sum()
        percent = null_count/(data.shape[0])*100
        L.append([col, percent])
    return L

print(naPourcentage(data))

[['Identifiant de document', 100.0], ['Reference document', 100.0], ['1 Articles CGI', 100.0], ['2 Articles CGI', 100.0], ['3 Articles CGI', 100.0], ['4 Articles CGI', 100.0], ['5 Articles CGI', 100.0], ['No disposition', 0.0], ['Date mutation', 0.0], ['Nature mutation', 0.0], ['Valeur fonciere', 0.6498882063995101], ['No voie', 34.733621021666], ['B/T/Q', 95.3740189306459], ['Type de voie', 36.9842936892151], ['Code voie', 1.0263980115066569], ['Voie', 1.029289791883824], ['Code postal', 1.029815570134218], ['Commune', 0.0], ['Code departement', 0.0], ['Code commune', 0.0], ['Prefixe de section', 95.82429542428333], ['Section', 0.004074781440553539], ['No plan', 0.0], ['No Volume', 99.765792078362], ['1er lot', 66.63114158288171], ['Surface Carrez du 1er lot', 90.33256788783048], ['2eme lot', 89.535277748933], ['Surface Carrez du 2eme lot', 96.74175218230835], ['3eme lot', 98.13467021216466], ['Surface Carrez du 3eme lot', 99.63566196138947], ['4eme lot', 99.40261075190233], ['Surface Carrez du 4eme lot', 99.91187956523396], ['5eme lot', 99.74413001444576], ['Surface Carrez du 5eme lot', 99.96748061521313], ['Nombre de lots', 0.0], ['Code type local', 39.91847808227641], ['Type local', 39.91847808227641], ['Identifiant local', 100.0], ['Surface reelle bati', 39.97339562053006], ['Nombre pieces principales', 39.97339562053006], ['Nature culture', 33.83091234356454], ['Nature culture speciale', 95.93426194535324], ['Surface terrain', 33.83091234356454]]

Ainsi, nous allons supprimer : Identifiant de document, Reference document, 1 Articles CGI, 2 Articles CGI, 3 Articles CGI, 4 Articles CGI, 5 Articles CGI, B/T/Q, Prefixe de section, No Volume, 1er lot, Surface Carrez du 1er lot, 2eme lot, Surface Carrez du 2eme lot, 3eme lot, Surface Carrez du 3eme lot, 4eme lot, Surface Carrez du 4eme lot, 5eme lot, Surface Carrez du 5eme lot, Identifiant local, Nature culture speciale.

In [10]:
#Suppression des colonnes contenant beaucoup de valeurs NaN

colonnes_a_supprimer = ["Identifiant de document", "Reference document", "1 Articles CGI", "2 Articles CGI", "3 Articles CGI", "4 Articles CGI","5 Articles CGI","B/T/Q","Prefixe de section","No Volume","1er lot","Surface Carrez du 1er lot","2eme lot","Surface Carrez du 2eme lot","3eme lot","Surface Carrez du 3eme lot", "4eme lot", "Surface Carrez du 4eme lot","5eme lot", "Surface Carrez du 5eme lot", "Identifiant local", "Nature culture speciale"]

data = data.drop(colonnes_a_supprimer, axis=1)

Ensuite, nous vérifions s'il n'y a pas de doublons dans les lignes. Si oui, nous les supprimons.

In [25]:
# Recherche et suppression des doublons

doublons = data.duplicated(keep=False)
doublons_col = data[doublons]
doublons_toutes_col = doublons_col.duplicated(keep=False)
print(doublons_col[doublons_toutes_col])

doublons_col = doublons_col.drop(doublons_col[doublons_toutes_col].index)

         No disposition Date mutation Nature mutation  Valeur fonciere  \
17                    1    04/01/2022           Vente         134000.0
19                    1    04/01/2022           Vente         134000.0
21                    1    10/01/2022           Vente         580000.0
23                    1    10/01/2022           Vente         580000.0
24                    1    10/01/2022           Vente         580000.0
...                 ...           ...             ...              ...
3803874               1    23/12/2022         Echange         934000.0
3803875               1    23/12/2022         Echange         934000.0
3803876               1    23/12/2022         Echange         934000.0
3803877               1    23/12/2022         Echange         934000.0
3803879               2    23/12/2022         Echange          70000.0

         No voie Type de voie Code voie         Voie  Code postal  \
17          13.0          RUE      1070    DE CUIRON       1000.0
19          13.0          RUE      1070    DE CUIRON       1000.0
21          45.0          RUE      0119   DES COMBES       1500.0
23          45.0          RUE      0119   DES COMBES       1500.0
24          45.0          RUE      0119   DES COMBES       1500.0
...          ...          ...       ...          ...          ...
3803874      5.0          VLA      3488  FAISANDERIE      75016.0
3803875      5.0          VLA      3488  FAISANDERIE      75016.0
3803876      5.0          VLA      3488  FAISANDERIE      75016.0
3803877      5.0          VLA      3488  FAISANDERIE      75016.0
3803879     67.0          RUE      1255     BRANCION      75015.0

                 Commune  ... Code commune  Section No plan  Nombre de lots  \
17       BOURG-EN-BRESSE  ...           53       CS     321               1
19       BOURG-EN-BRESSE  ...           53       CS     321               1
21              AMBRONAY  ...            7       ZN     521               0
23              AMBRONAY  ...            7       ZN     521               0
24              AMBRONAY  ...            7       ZN     521               0
...                  ...  ...          ...      ...     ...             ...
3803874         PARIS 16  ...          116       EE      64               2
3803875         PARIS 16  ...          116       EE      64               1
3803876         PARIS 16  ...          116       EE      64               1
3803877         PARIS 16  ...          116       EE      64               2
3803879         PARIS 15  ...          115       AJ      28               2

         Code type local   Type local Surface reelle bati  \
17                   3.0   Dépendance                 0.0
19                   3.0   Dépendance                 0.0
21                   3.0   Dépendance                 0.0
23                   3.0   Dépendance                 0.0
24                   3.0   Dépendance                 0.0
...                  ...          ...                 ...
3803874              3.0   Dépendance                 0.0
3803875              3.0   Dépendance                 0.0
3803876              3.0   Dépendance                 0.0
3803877              3.0   Dépendance                 0.0
3803879              2.0  Appartement                15.0

         Nombre pieces principales  Nature culture Surface terrain
17                             0.0             NaN             NaN
19                             0.0             NaN             NaN
21                             0.0               S           496.0
23                             0.0               S           496.0
24                             0.0               S           496.0
...                            ...             ...             ...
3803874                        0.0             NaN             NaN
3803875                        0.0             NaN             NaN
3803876                        0.0             NaN             NaN
3803877                        0.0             NaN             NaN
3803879                        1.0             NaN             NaN

[773522 rows x 21 columns]

Il nous reste encore des valeurs manquantes. Pour cela, nous allons convertir la colonne Valeur foncière en float et remplacer les virgules par des points afin de pouvoir rajouter les valeurs manquantes.

In [33]:
#Conversion en float et remplacement des virgules

data['Valeur fonciere'] = data['Valeur fonciere'].astype(str)
data['Valeur fonciere'] = data['Valeur fonciere'].str.replace(',', '.')
data['Valeur fonciere'] = data['Valeur fonciere'].astype(float)

Pour remplir les valeurs manquantes, nous allons mettre la médiane de chaque colonne. En effet, la médiane est une mesure de tendance centrale qui représente la valeur au milieu de l'ensemble de données trié. Contrairement à la moyenne, qui peut être sensible aux valeurs aberrantes, la médiane est une mesure qui est moins sensible aux valeurs extrêmes. Cela permet la distribution des valeurs de la colonne et minimiser les effets des valeurs aberrantes. Pour les colonnes qui ne possèdent pas de valeurs chiffrées, nous allons supprimer les lignes.

In [35]:
import numpy as np

# Sélection des colonnes non numériques qui contiennent des valeurs nulles
columns_with_nonnumeric_nulls = data.select_dtypes(exclude=[np.number]).isnull().any()
print(columns_with_nonnumeric_nulls)

Date mutation       False
Nature mutation     False
Type de voie         True
Code voie            True
Voie                 True
Commune             False
Code departement    False
Section              True
Type local           True
Nature culture       True
dtype: bool

In [ ]:
# Remplacement des valeurs manquantes
for col in data.columns:
    if data[col].isnull().any():
        data[col] = data[col].fillna(data[col].median())


print(data)