Projet DATA : Analyse des données DVF

Mohammad Darmsy Ladha
Doris Colin
Julie Chen


Introduction :

Le machine learning est une technique informatique qui permet à une machine d'apprendre à partir de données, sans qu'un programme spécifique lui soit directement programmé. Le principe est de fournir à l'algorithme un grand nombre d'exemples pour qu'il apprenne à identifier des modèles et à prendre des décisions à partir de ces modèles. Le machine learning est utilisé dans de nombreux domaines, tels que la reconnaissance de formes, la classification de données, la détection de fraudes, la recommandation de produits, la traduction de langues, la reconnaissance vocale ou encore la conduite autonome.

Ce projet consiste à expliquer le prix de la valeur foncière en France selon une multitude de facteurs. On peut citer le code postal, la surface terrain, la surface réelle batie...

 Pour cela, nous allons utiliser plusieurs méthodes afin de préparer nos données, de les analyser et de les modéliser grâce aux TD que nous avons pu effectuer en cours, mais ainsi qu'à la documentation d'internet.

Sommaire :

A) Préparation des données
B) Analyse exploratoire des données
C) Modélisation des données
D) Evaluation des modèles


A) Préparation des données

Afin de préparer nos données, nous allons supprimer les colonnes comprenant de nombreuses valeurs nulles. En effet, lorsqu'une colonne présente plus de 90% il est mieux de la supprimer, car compléter toutes les valeurs manquantes peut créer un biais dans l'analyse. Pour cela, nous avons créé un algorithme qui permet de nous indiquer le pourcentage de valeurs nulles dans chaque colonne.

In [73]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
data = pd.read_csv("./data/valeursfoncieres-2022.txt", delimiter='|')
print(data)

/var/folders/29/jk9lm8hj2fxf5p1bbvw0cv5c0000gn/T/ipykernel_6952/3966435294.py:4: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/valeursfoncieres-2022.txt", delimiter='|')

         Identifiant de document  Reference document  1 Articles CGI  \
0                            NaN                 NaN             NaN
1                            NaN                 NaN             NaN
2                            NaN                 NaN             NaN
3                            NaN                 NaN             NaN
4                            NaN                 NaN             NaN
...                          ...                 ...             ...
3803880                      NaN                 NaN             NaN
3803881                      NaN                 NaN             NaN
3803882                      NaN                 NaN             NaN
3803883                      NaN                 NaN             NaN
3803884                      NaN                 NaN             NaN

         2 Articles CGI  3 Articles CGI  4 Articles CGI  5 Articles CGI  \
0                   NaN             NaN             NaN             NaN
1                   NaN             NaN             NaN             NaN
2                   NaN             NaN             NaN             NaN
3                   NaN             NaN             NaN             NaN
4                   NaN             NaN             NaN             NaN
...                 ...             ...             ...             ...
3803880             NaN             NaN             NaN             NaN
3803881             NaN             NaN             NaN             NaN
3803882             NaN             NaN             NaN             NaN
3803883             NaN             NaN             NaN             NaN
3803884             NaN             NaN             NaN             NaN

         No disposition Date mutation Nature mutation  ...  \
0                     1    03/01/2022           Vente  ...
1                     1    03/01/2022           Vente  ...
2                     1    03/01/2022           Vente  ...
3                     1    03/01/2022           Vente  ...
4                     1    04/01/2022           Vente  ...
...                 ...           ...             ...  ...
3803880               1    30/12/2022           Vente  ...
3803881               1    19/12/2022           Vente  ...
3803882               1    19/12/2022           Vente  ...
3803883               1    30/12/2022           Vente  ...
3803884               1    21/11/2022           Vente  ...

        Surface Carrez du 5eme lot  Nombre de lots Code type local  \
0                              NaN               1             2.0
1                              NaN               0             NaN
2                              NaN               0             NaN
3                              NaN               1             2.0
4                              NaN               0             NaN
...                            ...             ...             ...
3803880                        NaN               1             4.0
3803881                        NaN               2             3.0
3803882                        NaN               2             2.0
3803883                        NaN               1             3.0
3803884                        NaN               1             3.0

                                       Type local Identifiant local  \
0                                     Appartement               NaN
1                                             NaN               NaN
2                                             NaN               NaN
3                                     Appartement               NaN
4                                             NaN               NaN
...                                           ...               ...
3803880  Local industriel. commercial ou assimilé               NaN
3803881                                Dépendance               NaN
3803882                               Appartement               NaN
3803883                                Dépendance               NaN
3803884                                Dépendance               NaN

        Surface reelle bati  Nombre pieces principales Nature culture  \
0                      24.0                        1.0            NaN
1                       NaN                        NaN              S
2                       NaN                        NaN              S
3                     140.0                        3.0            NaN
4                       NaN                        NaN              T
...                     ...                        ...            ...
3803880               327.0                        0.0            NaN
3803881                 0.0                        0.0            NaN
3803882                40.0                        3.0            NaN
3803883                 0.0                        0.0            NaN
3803884                 0.0                        0.0            NaN

        Nature culture speciale  Surface terrain
0                           NaN              NaN
1                           NaN             84.0
2                           NaN             88.0
3                           NaN              NaN
4                           NaN            510.0
...                         ...              ...
3803880                     NaN              NaN
3803881                     NaN              NaN
3803882                     NaN              NaN
3803883                     NaN              NaN
3803884                     NaN              NaN

[3803885 rows x 43 columns]

In [66]:
#Affichage des pourcentages de données nulles par colonne

def naPourcentage(data):
    L = []
    for col in data:
        null_count = data[col].isnull().sum()
        percent = null_count/(data.shape[0])*100
        L.append([col, percent])
    return L

print(naPourcentage(data))

[['Identifiant de document', 100.0], ['Reference document', 100.0], ['1 Articles CGI', 100.0], ['2 Articles CGI', 100.0], ['3 Articles CGI', 100.0], ['4 Articles CGI', 100.0], ['5 Articles CGI', 100.0], ['No disposition', 0.0], ['Date mutation', 0.0], ['Nature mutation', 0.0], ['Valeur fonciere', 0.6498882063995101], ['No voie', 34.733621021666], ['B/T/Q', 95.3740189306459], ['Type de voie', 36.9842936892151], ['Code voie', 1.0263980115066569], ['Voie', 1.029289791883824], ['Code postal', 1.029815570134218], ['Commune', 0.0], ['Code departement', 0.0], ['Code commune', 0.0], ['Prefixe de section', 95.82429542428333], ['Section', 0.004074781440553539], ['No plan', 0.0], ['No Volume', 99.765792078362], ['1er lot', 66.63114158288171], ['Surface Carrez du 1er lot', 90.33256788783048], ['2eme lot', 89.535277748933], ['Surface Carrez du 2eme lot', 96.74175218230835], ['3eme lot', 98.13467021216466], ['Surface Carrez du 3eme lot', 99.63566196138947], ['4eme lot', 99.40261075190233], ['Surface Carrez du 4eme lot', 99.91187956523396], ['5eme lot', 99.74413001444576], ['Surface Carrez du 5eme lot', 99.96748061521313], ['Nombre de lots', 0.0], ['Code type local', 39.91847808227641], ['Type local', 39.91847808227641], ['Identifiant local', 100.0], ['Surface reelle bati', 39.97339562053006], ['Nombre pieces principales', 39.97339562053006], ['Nature culture', 33.83091234356454], ['Nature culture speciale', 95.93426194535324], ['Surface terrain', 33.83091234356454]]

Ainsi, nous allons supprimer : Identifiant de document, Reference document, 1 Articles CGI, 2 Articles CGI, 3 Articles CGI, 4 Articles CGI, 5 Articles CGI, B/T/Q, Prefixe de section, No Volume, 1er lot, Surface Carrez du 1er lot, 2eme lot, Surface Carrez du 2eme lot, 3eme lot, Surface Carrez du 3eme lot, 4eme lot, Surface Carrez du 4eme lot, 5eme lot, Surface Carrez du 5eme lot, Identifiant local, Nature culture speciale.

In [74]:
#Suppression des colonnes contenant beaucoup de valeurs NaN

colonnes_a_supprimer = ["Identifiant de document", "Reference document", "1 Articles CGI", "2 Articles CGI", "3 Articles CGI", "4 Articles CGI","5 Articles CGI","B/T/Q","Prefixe de section","No Volume","1er lot","Surface Carrez du 1er lot","2eme lot","Surface Carrez du 2eme lot","3eme lot","Surface Carrez du 3eme lot", "4eme lot", "Surface Carrez du 4eme lot","5eme lot", "Surface Carrez du 5eme lot", "Identifiant local", "Nature culture speciale"]

data = data.drop(colonnes_a_supprimer, axis=1)

print(data)

         No disposition Date mutation Nature mutation Valeur fonciere  \
0                     1    03/01/2022           Vente        55000,00
1                     1    03/01/2022           Vente       143000,00
2                     1    03/01/2022           Vente       143000,00
3                     1    03/01/2022           Vente       143000,00
4                     1    04/01/2022           Vente          300,00
...                 ...           ...             ...             ...
3803880               1    30/12/2022           Vente      3500000,00
3803881               1    19/12/2022           Vente       525000,00
3803882               1    19/12/2022           Vente       525000,00
3803883               1    30/12/2022           Vente        15500,00
3803884               1    21/11/2022           Vente        30000,00

         No voie Type de voie Code voie               Voie  Code postal  \
0           13.0          RUE      2280      DE LA LIBERTE       1000.0
1            NaN          NaN      B010       CHAMP COCHET       1480.0
2            NaN          NaN      B010       CHAMP COCHET       1480.0
3           98.0          RTE      0055       DE LA DOMBES       1480.0
4            NaN          NaN      B031        AUX PIERRES       1480.0
...          ...          ...       ...                ...          ...
3803880     19.0          RUE      4879        JEAN DOLENT      75014.0
3803881      3.0          RUE      3842  FREDERIC MAGISSON      75015.0
3803882      3.0          RUE      3842  FREDERIC MAGISSON      75015.0
3803883     69.0          RUE      0679           BARRAULT      75013.0
3803884     48.0          RUE      8358     DE LA ROQUETTE      75011.0

                   Commune  ... Code commune  Section No plan  Nombre de lots  \
0          BOURG-EN-BRESSE  ...           53       AM     102               1
1                SAVIGNEUX  ...          398       ZE     184               0
2                SAVIGNEUX  ...          398       ZE     185               0
3                SAVIGNEUX  ...          398       ZE     187               1
4        MESSIMY SUR SAONE  ...          243        A     643               0
...                    ...  ...          ...      ...     ...             ...
3803880           PARIS 14  ...          114       AS      41               1
3803881           PARIS 15  ...          115       EJ      51               2
3803882           PARIS 15  ...          115       EJ      51               2
3803883           PARIS 13  ...          113       DM      28               1
3803884           PARIS 11  ...          111       CD      88               1

         Code type local                                Type local  \
0                    2.0                               Appartement
1                    NaN                                       NaN
2                    NaN                                       NaN
3                    2.0                               Appartement
4                    NaN                                       NaN
...                  ...                                       ...
3803880              4.0  Local industriel. commercial ou assimilé
3803881              3.0                                Dépendance
3803882              2.0                               Appartement
3803883              3.0                                Dépendance
3803884              3.0                                Dépendance

        Surface reelle bati  Nombre pieces principales  Nature culture  \
0                      24.0                        1.0             NaN
1                       NaN                        NaN               S
2                       NaN                        NaN               S
3                     140.0                        3.0             NaN
4                       NaN                        NaN               T
...                     ...                        ...             ...
3803880               327.0                        0.0             NaN
3803881                 0.0                        0.0             NaN
3803882                40.0                        3.0             NaN
3803883                 0.0                        0.0             NaN
3803884                 0.0                        0.0             NaN

        Surface terrain
0                   NaN
1                  84.0
2                  88.0
3                   NaN
4                 510.0
...                 ...
3803880             NaN
3803881             NaN
3803882             NaN
3803883             NaN
3803884             NaN

[3803885 rows x 21 columns]

Ensuite, nous vérifions s'il n'y a pas de doublons dans les lignes. Si oui, nous les supprimons, mais gardons une ligne.

In [75]:
# Suppression des doublons

data = data.drop_duplicates()

print(data)

         No disposition Date mutation Nature mutation Valeur fonciere  \
0                     1    03/01/2022           Vente        55000,00
1                     1    03/01/2022           Vente       143000,00
2                     1    03/01/2022           Vente       143000,00
3                     1    03/01/2022           Vente       143000,00
4                     1    04/01/2022           Vente          300,00
...                 ...           ...             ...             ...
3803880               1    30/12/2022           Vente      3500000,00
3803881               1    19/12/2022           Vente       525000,00
3803882               1    19/12/2022           Vente       525000,00
3803883               1    30/12/2022           Vente        15500,00
3803884               1    21/11/2022           Vente        30000,00

         No voie Type de voie Code voie               Voie  Code postal  \
0           13.0          RUE      2280      DE LA LIBERTE       1000.0
1            NaN          NaN      B010       CHAMP COCHET       1480.0
2            NaN          NaN      B010       CHAMP COCHET       1480.0
3           98.0          RTE      0055       DE LA DOMBES       1480.0
4            NaN          NaN      B031        AUX PIERRES       1480.0
...          ...          ...       ...                ...          ...
3803880     19.0          RUE      4879        JEAN DOLENT      75014.0
3803881      3.0          RUE      3842  FREDERIC MAGISSON      75015.0
3803882      3.0          RUE      3842  FREDERIC MAGISSON      75015.0
3803883     69.0          RUE      0679           BARRAULT      75013.0
3803884     48.0          RUE      8358     DE LA ROQUETTE      75011.0

                   Commune  ... Code commune  Section No plan  Nombre de lots  \
0          BOURG-EN-BRESSE  ...           53       AM     102               1
1                SAVIGNEUX  ...          398       ZE     184               0
2                SAVIGNEUX  ...          398       ZE     185               0
3                SAVIGNEUX  ...          398       ZE     187               1
4        MESSIMY SUR SAONE  ...          243        A     643               0
...                    ...  ...          ...      ...     ...             ...
3803880           PARIS 14  ...          114       AS      41               1
3803881           PARIS 15  ...          115       EJ      51               2
3803882           PARIS 15  ...          115       EJ      51               2
3803883           PARIS 13  ...          113       DM      28               1
3803884           PARIS 11  ...          111       CD      88               1

         Code type local                                Type local  \
0                    2.0                               Appartement
1                    NaN                                       NaN
2                    NaN                                       NaN
3                    2.0                               Appartement
4                    NaN                                       NaN
...                  ...                                       ...
3803880              4.0  Local industriel. commercial ou assimilé
3803881              3.0                                Dépendance
3803882              2.0                               Appartement
3803883              3.0                                Dépendance
3803884              3.0                                Dépendance

        Surface reelle bati  Nombre pieces principales  Nature culture  \
0                      24.0                        1.0             NaN
1                       NaN                        NaN               S
2                       NaN                        NaN               S
3                     140.0                        3.0             NaN
4                       NaN                        NaN               T
...                     ...                        ...             ...
3803880               327.0                        0.0             NaN
3803881                 0.0                        0.0             NaN
3803882                40.0                        3.0             NaN
3803883                 0.0                        0.0             NaN
3803884                 0.0                        0.0             NaN

        Surface terrain
0                   NaN
1                  84.0
2                  88.0
3                   NaN
4                 510.0
...                 ...
3803880             NaN
3803881             NaN
3803882             NaN
3803883             NaN
3803884             NaN

[3316270 rows x 21 columns]

Nous nous apercevons qu'il y a des valeurs nulles dans des colonnes non numériques. Ne pouvant les remplacer, nous allons les supprimer.

In [76]:
import numpy as np

columns_non_numeric = data.select_dtypes(exclude=[np.number]).columns
columns_with_nulls = data[columns_non_numeric].isnull().any()
data = data.dropna(subset=columns_with_nulls.index)

print(data)

         No disposition Date mutation Nature mutation Valeur fonciere  \
5                     1    06/01/2022           Vente       255000,00
8                     1    03/01/2022           Vente       525000,00
9                     1    03/01/2022           Vente       525000,00
13                    1    03/01/2022           Vente       140000,00
21                    1    10/01/2022           Vente       580000,00
...                 ...           ...             ...             ...
3803692               1    28/12/2022           Vente     12281000,00
3803693               1    28/12/2022           Vente     12281000,00
3803694               1    28/12/2022           Vente     12281000,00
3803705               1    30/12/2022           Vente      3100000,00
3803723               1    08/12/2022           Vente      2600000,00

         No voie Type de voie Code voie                  Voie  Code postal  \
5          282.0          RTE      0130           DE POISATON       1560.0
8          217.0           PL      0300   DE LA CROIX BLANCHE       1390.0
9          217.0           PL      0300   DE LA CROIX BLANCHE       1390.0
13           6.0          RUE      0397          DE BEAUGENCY       1000.0
21          45.0          RUE      0119            DES COMBES       1500.0
...          ...          ...       ...                   ...          ...
3803692    116.0          RUE      0272                AMELOT      75011.0
3803693    116.0          RUE      0272                AMELOT      75011.0
3803694    116.0          RUE      0272                AMELOT      75011.0
3803705     82.0           AV      2816  DU DOC ARNOLD NETTER      75012.0
3803723      6.0           SQ      6533         DE MONTSOURIS      75014.0

                      Commune  ... Code commune  Section No plan  \
5            MANTENAY-MONTLIN  ...          230       ZM     124
8        SAINT-ANDRE-DE-CORCY  ...          333       AN     186
9        SAINT-ANDRE-DE-CORCY  ...          333       AN     186
13            BOURG-EN-BRESSE  ...           53       BZ     175
21                   AMBRONAY  ...            7       ZN     521
...                       ...  ...          ...      ...     ...
3803692              PARIS 11  ...          111       AO      74
3803693              PARIS 11  ...          111       AO      74
3803694              PARIS 11  ...          111       AO      74
3803705              PARIS 12  ...          112       AI       5
3803723              PARIS 14  ...          114       BL      90

         Nombre de lots  Code type local  \
5                     0              1.0
8                     0              4.0
9                     0              2.0
13                    0              1.0
21                    0              3.0
...                 ...              ...
3803692               0              2.0
3803693               0              2.0
3803694               0              2.0
3803705               0              4.0
3803723               0              1.0

                                       Type local Surface reelle bati  \
5                                          Maison               108.0
8        Local industriel. commercial ou assimilé               424.0
9                                     Appartement               126.0
13                                         Maison               100.0
21                                     Dépendance                 0.0
...                                           ...                 ...
3803692                               Appartement                14.0
3803693                               Appartement                78.0
3803694                               Appartement                17.0
3803705  Local industriel. commercial ou assimilé               709.0
3803723                                    Maison               180.0

         Nombre pieces principales  Nature culture Surface terrain
5                              5.0               S           649.0
8                              0.0               S           628.0
9                              4.0               S           628.0
13                             4.0               S           796.0
21                             0.0               S           496.0
...                            ...             ...             ...
3803692                        1.0               S           265.0
3803693                        3.0               S           265.0
3803694                        1.0               S           265.0
3803705                        0.0               S           258.0
3803723                        8.0               S           163.0

[847741 rows x 21 columns]

Pour remplir les valeurs manquantes, nous allons mettre la médiane de chaque colonne. En effet, la médiane est une mesure de tendance centrale qui représente la valeur au milieu de l'ensemble de données trié. Contrairement à la moyenne, qui peut être sensible aux valeurs aberrantes, la médiane est une mesure qui est moins sensible aux valeurs extrêmes. Cela permet la distribution des valeurs de la colonne et minimiser les effets des valeurs aberrantes. Pour les colonnes qui ne possèdent pas de valeurs chiffrées, nous allons supprimer les lignes.

In [77]:
#Remplacement des valeurs nulles de surface terrain par 0
data["Surface terrain"] = data["Surface terrain"].fillna(0)

#Compléter les valeurs nulles surface reelle bati avec la médiane
median_value = data["Surface reelle bati"].median()
data["Surface reelle bati"] = data["Surface reelle bati"].fillna(median_value)

#Remplacement des valeurs nulles de nombre de pièces principales par 0
data["Nombre pieces principales"] = data["Nombre pieces principales"].fillna(0)

print(data)

         No disposition Date mutation Nature mutation Valeur fonciere  \
5                     1    06/01/2022           Vente       255000,00
8                     1    03/01/2022           Vente       525000,00
9                     1    03/01/2022           Vente       525000,00
13                    1    03/01/2022           Vente       140000,00
21                    1    10/01/2022           Vente       580000,00
...                 ...           ...             ...             ...
3803692               1    28/12/2022           Vente     12281000,00
3803693               1    28/12/2022           Vente     12281000,00
3803694               1    28/12/2022           Vente     12281000,00
3803705               1    30/12/2022           Vente      3100000,00
3803723               1    08/12/2022           Vente      2600000,00

         No voie Type de voie Code voie                  Voie  Code postal  \
5          282.0          RTE      0130           DE POISATON       1560.0
8          217.0           PL      0300   DE LA CROIX BLANCHE       1390.0
9          217.0           PL      0300   DE LA CROIX BLANCHE       1390.0
13           6.0          RUE      0397          DE BEAUGENCY       1000.0
21          45.0          RUE      0119            DES COMBES       1500.0
...          ...          ...       ...                   ...          ...
3803692    116.0          RUE      0272                AMELOT      75011.0
3803693    116.0          RUE      0272                AMELOT      75011.0
3803694    116.0          RUE      0272                AMELOT      75011.0
3803705     82.0           AV      2816  DU DOC ARNOLD NETTER      75012.0
3803723      6.0           SQ      6533         DE MONTSOURIS      75014.0

                      Commune  ... Code commune  Section No plan  \
5            MANTENAY-MONTLIN  ...          230       ZM     124
8        SAINT-ANDRE-DE-CORCY  ...          333       AN     186
9        SAINT-ANDRE-DE-CORCY  ...          333       AN     186
13            BOURG-EN-BRESSE  ...           53       BZ     175
21                   AMBRONAY  ...            7       ZN     521
...                       ...  ...          ...      ...     ...
3803692              PARIS 11  ...          111       AO      74
3803693              PARIS 11  ...          111       AO      74
3803694              PARIS 11  ...          111       AO      74
3803705              PARIS 12  ...          112       AI       5
3803723              PARIS 14  ...          114       BL      90

         Nombre de lots  Code type local  \
5                     0              1.0
8                     0              4.0
9                     0              2.0
13                    0              1.0
21                    0              3.0
...                 ...              ...
3803692               0              2.0
3803693               0              2.0
3803694               0              2.0
3803705               0              4.0
3803723               0              1.0

                                       Type local Surface reelle bati  \
5                                          Maison               108.0
8        Local industriel. commercial ou assimilé               424.0
9                                     Appartement               126.0
13                                         Maison               100.0
21                                     Dépendance                 0.0
...                                           ...                 ...
3803692                               Appartement                14.0
3803693                               Appartement                78.0
3803694                               Appartement                17.0
3803705  Local industriel. commercial ou assimilé               709.0
3803723                                    Maison               180.0

         Nombre pieces principales  Nature culture Surface terrain
5                              5.0               S           649.0
8                              0.0               S           628.0
9                              4.0               S           628.0
13                             4.0               S           796.0
21                             0.0               S           496.0
...                            ...             ...             ...
3803692                        1.0               S           265.0
3803693                        3.0               S           265.0
3803694                        1.0               S           265.0
3803705                        0.0               S           258.0
3803723                        8.0               S           163.0

[847741 rows x 21 columns]

Afin de finir de préparer notre dataset, nous allons normaliser les colonnes : valeur foncière, surface reelle batiment, nombre pièces, surface terrain. Cela permet de réduire l'écart entre ces données qui peuvent varier très différemment.

In [81]:
from sklearn.preprocessing import MinMaxScaler

# Remplacer les virgules par des points dans les valeurs de la colonne "Valeur fonciere"
data["Valeur fonciere"] = data["Valeur fonciere"].str.replace(",", ".")

# Convertir la colonne en type float
data["Valeur fonciere"] = data["Valeur fonciere"].astype(float)


columns_to_normalize = ["Valeur fonciere", "Surface reelle bati", "Nombre pieces principales", "Surface terrain"]
scaler = MinMaxScaler()
data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])

print(data)

AttributeError: Can only use .str accessor with string values!